<h3>Choose Day</h3>
  <div class="field">
    <%= f.label :lunch_day %><br>
    <%= f.text_field :lunch_day %>
  </div>
  <div class="field">
    <%= f.label :lunch_time %><br>
    <%= f.text_field :lunch_time %>
  </div>
  <div class="field">
    <%= f.label :dinner_day %><br>
    <%= f.text_field :dinner_day %>
  </div>
  <div class="field">
    <%= f.label :dinner_time %><br>
    <%= f.text_field :dinner_time %>
  </div>