  <h3>Check Out</h3>
  <div class="field">
    <%= f.label :extra_note %><br>
    <%= f.text_field :extra_note %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label :apt %><br>
    <%= f.text_field :apt %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :newyork %><br>
    <%= f.text_field :newyork %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone_delivery %><br>
    <%= f.text_field :phone_delivery %>
  </div>
  <div class="field">
    <%= f.label :email_delivery %><br>
    <%= f.text_field :email_delivery %>
  </div>
  <div class="field">
    <%= f.label :paypal %><br>
    <%= f.text_field :paypal %>
  </div>
  <div class="field">
    <%= f.label :foodgembox_price %><br>
    <%= f.text_field :foodgembox_price %>
  </div>
  <div class="field">
    <%= f.label :tax_price %><br>
    <%= f.text_field :tax_price %>
  </div>
  <div class="field">
    <%= f.label :tip_price %><br>
    <%= f.text_field :tip_price %>
  </div>
  <div class="field">
    <%= f.label :total_price %><br>
    <%= f.text_field :total_price %>
  </div>
  <div class="field">
    <%= f.label :coupun_code %><br>
    <%= f.text_field :coupun_code %>
  </div>
  