  <%= render :partial => 'error_subscribe' %>

<%= form_for build_subscribe(@subscribe) do |f| %>
    <% unless params[:all] %>
        <%= f.hidden_field :current_step, value: @subscribe.current_step %>
        <%= render "subscribes/steps/page#{@subscribe.current_step + 1}", f: f %>
        <div class="field">
          <%= f.submit "Back", name: "back_button" unless @subscribe.first_step? %>
          <%= f.submit @subscribe.last_step? ? nil: "Next" %>
        </div>
    <% else %>
        <%= hidden_field_tag :all, 1 %>
        <% Subscribe.total_steps.times do |step| %>
          <%= render "subscribes/steps/page#{step + 1}", f: f %>
        <% end %>
        <div class="actions">
          <%#= f.submit %>
        </div>
    <% end %>
<% end %>
