<h3>Listing subscribes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Preference</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Total price</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribes.each do |subscribe| %>
      <tr>
        <td><%= link_to subscribe.preference, subscribe %></td>
        <td><%= subscribe.email %></td>
        <td><%= subscribe.phone%></td>
        <td><%= subscribe.total_price %></td>
        <td><%= link_to 'Show', subscribe %></td>
        <td><%= link_to 'Edit (with steps)', edit_subscribe_path(subscribe) %></td>
        <td><%= link_to 'Edit (all fields)', edit_subscribe_path(subscribe, all: 1) %></td>
        <td><%= link_to 'Destroy', subscribe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New3Subscribe(with steps)', new_subscribe_path %> || 
<%= link_to 'New Subscribe (all fields)', new_subscribe_path(all: 1) %>