<p id="notice"><%= notice %></p>

<p>
  <strong>Preference:</strong>
  <%= @subscribe.preference %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @subscribe.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscribe.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @subscribe.phone %>
</p>

<p>
  <strong>Lunch day:</strong>
  <%= @subscribe.lunch_day %>
</p>

<p>
  <strong>Lunch time:</strong>
  <%= @subscribe.lunch_time %>
</p>

<p>
  <strong>Dinner day:</strong>
  <%= @subscribe.dinner_day %>
</p>

<p>
  <strong>Dinner time:</strong>
  <%= @subscribe.dinner_time %>
</p>

<p>
  <strong>Extra note:</strong>
  <%= @subscribe.extra_note %>
</p>

<p>
  <strong>First name:</strong>
  <%= @subscribe.first_name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @subscribe.street_address %>
</p>

<p>
  <strong>Apt:</strong>
  <%= @subscribe.apt %>
</p>

<p>
  <strong>City:</strong>
  <%= @subscribe.city %>
</p>

<p>
  <strong>Newyork:</strong>
  <%= @subscribe.newyork %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @subscribe.zip %>
</p>

<p>
  <strong>Phone delivery:</strong>
  <%= @subscribe.phone_delivery %>
</p>

<p>
  <strong>Email delivery:</strong>
  <%= @subscribe.email_delivery %>
</p>

<p>
  <strong>Paypal:</strong>
  <%= @subscribe.paypal %>
</p>

<p>
  <strong>Foodgembox price:</strong>
  <%= @subscribe.foodgembox_price %>
</p>

<p>
  <strong>Tax price:</strong>
  <%= @subscribe.tax_price %>
</p>

<p>
  <strong>Tip price:</strong>
  <%= @subscribe.tip_price %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @subscribe.total_price %>
</p>

<p>
  <strong>Coupun code:</strong>
  <%= @subscribe.coupun_code %>
</p>

<%= link_to 'Edit', edit_subscribe_path(@subscribe) %> |
<%= link_to 'Back', subscribes_path %>
